.form{
    box-sizing: border-box;
    border: 5px;
    text-align: center;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 350px;
    margin-right: 50px;
    margin-bottom: 80px;
    padding: 65px;
    width: 650px;
    height: 450px;
    background-color: black;
    color: white;
    

}

body{
  padding-top: 20px;
    background-color: rgb(141, 188, 216);
    text-align: center;
    color: black;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .button{
    width: 70%;
    background-color: #e80909;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    margin-left: 75px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #9ec2d0;
  }
  
  